* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 100vh;
  width: 100%;
  background-image: url("./assets/4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(60%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 12px;
}

h2,
h3 {
  color: #3f322b;
  font-weight: bolder;
  filter: contrast(1.5);
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
}

button {
  background-color: transparent;
  border: 1px solid #3f322b;
  padding: 4px 12px;
  color: #3f322b;
  cursor: pointer;
  margin-top: 10px;
  filter: contrast(1.75);
  font-weight: bolder;
  text-transform: uppercase;
}

button a {
  text-decoration: none;
  color: #3f322b;
}

button:hover {
  background-color: #c5b3a5;
  color: #000;
  transition: 0.35s;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #c0ab96;
}

#about {
  height: 100vh;
  width: 100%;
  background-color: #c0ab96;
}

.me {
  display: flex;
  gap: 15px;
  flex-direction: column-reverse;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  padding-left: 5px;
  color: #3f322b;
}

.profile-photo {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.profile-photo img {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-top: 15px;
  color: #3f322b;
}

.tecniche {
  text-align: center;
  color: #3f322b;
  background-color: #c5b3a5;
  padding: 10px 10px;
  -webkit-box-shadow: 40px 34px 23px -21px rgba(93, 75, 62, 0.7);
  -moz-box-shadow: 40px 34px 23px -21px rgba(93, 75, 62, 0.7);
  box-shadow: 40px 34px 23px -21px rgba(93, 75, 62, 0.7);
}

.tecniche i {
  padding-left: 8px;
}

.fa-html5,
.fa-css3-alt,
.fa-js-square,
.fa-react,
.fa-git-alt,
.fa-github {
  font-size: 40px;
}

.fa-html5 {
  color: #d84924;
}

.fa-css3-alt {
  color: #134ae1;
}

.fa-js-square {
  color: #ead41c;
}

.fa-react {
  color: #5ccfee;
}

.fa-code {
  color: #134ae1;
  font-size: 30px;
}

.fa-git-alt {
  color: #e44c30;
}

.fa-github {
  color: #000;
}

.others {
  margin-top: 20px;
  padding: 10px 10px;
  -webkit-box-shadow: -37px 34px 23px -21px rgba(93, 75, 62, 0.7);
  -moz-box-shadow: -37px 34px 23px -21px rgba(93, 75, 62, 0.7);
  box-shadow: -37px 34px 23px -21px rgba(93, 75, 62, 0.7);
}

.fa-brain,
.fa-earth-europe,
.fa-screwdriver-wrench {
  font-size: 25px;
  color: azure;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  background-color: #5d4b3e;
  padding: 55px 0;
}

footer i {
  font-size: 30px;
  padding-right: 15px;
  cursor: pointer;
}

.fa-instagram:hover {
  color: #d62d6a;
  transition: 0.35s;
}

.fa-linkedin:hover {
  color: #0961b8;
  transition: 0.35s;
}

.social .fa-github:hover {
  transition: 0.35s;
  color: #fff;
  font-size: 30px;
}

.fa-heart:hover {
  transition: 0.35s;
  color: #5ccfee;
}

@media only screen and (min-width: 768px) {
  header {
    padding-right: 25px;
  }

  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 20px;
  }

  button {
    padding: 8px 25px;
  }

  .me {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .info {
    display: flex;
    flex-direction: column;
  }

  .skill {
    flex-direction: row;
    justify-content: space-around;
  }

  .fa-html5,
  .fa-css3-alt,
  .fa-js-square,
  .fa-react,
  .fa-git-alt,
  .fa-github {
    font-size: 80px;
  }

  .social .fa-github {
    font-size: 30px;
  }

  .others {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .fa-brain,
  .fa-earth-europe,
  .fa-screwdriver-wrench {
    font-size: 40px;
    color: azure;
  }
}
