@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;500;700;900&family=Syne:wght@700;800&family=Tinos:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  height: 100vh;
  width: 100%;
  background-image: url("./assets/1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(80%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 12px;
}

h2,
h3 {
  color: #fff;
  font-weight: bolder;
  filter: contrast(1.5);
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
}

button {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 4px 12px;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  filter: contrast(1.75);
  font-weight: bolder;
  text-transform: uppercase;
}

button a {
  text-decoration: none;
  color: #fff;
}

button:hover {
  background-color: #9eb19c;
  transition: 0.35s;
}

button a:hover {
  color: #000;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about {
  height: 110vh;
  width: 100%;
  background-color: #1e1e1e;
}

.card-me {
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 20px;
  padding: 8px 8px;
  gap: 30px;
}

.card-me,
.tecniche,
.others {
  background-color: #282828;
  -webkit-box-shadow: 2px -2px 14px 13px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 2px -2px 14px 13px rgba(0, 0, 0, 0.48);
  box-shadow: 2px -2px 14px 13px rgba(0, 0, 0, 0.48);
}

.profile-photo {
  height: 250px;
  width: 250px;
  border-radius: 100%;
  border: 2px solid #9eb19c;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-top: 15px;
  color: #3f322b;
}

.tecniche {
  text-align: center;
  color: #f0f0f0;
  padding: 10px 10px;
}

.tecniche i {
  padding-left: 8px;
  padding-top: 18px;
}

.fa-html5,
.fa-css3-alt,
.fa-js-square,
.fa-react,
.fa-git-alt,
.fa-github {
  font-size: 40px;
}

.fa-html5 {
  color: #d84924;
}

.fa-css3-alt {
  color: #134ae1;
}

.fa-js-square {
  color: #ead41c;
}

.fa-react {
  color: #5ccfee;
}

.fa-code,
.fa-caret-down {
  color: #9eb19c;
  font-size: 30px;
}

.fa-git-alt {
  color: #e44c30;
}

.fa-github {
  color: #000;
}

.others {
  margin-top: 20px;
  padding: 10px 10px;
}

.others h3,
h4 {
  color: #f0f0f0;
}

.others h4 {
  color: #b4b4b4;
}

.fa-screwdriver-wrench {
  font-size: 25px;
  color: #9eb19c;
}

.fa-brain,
.fa-earth-europe {
  font-size: 18px;
  color: #9eb19c;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  background-color: #141414;
  padding: 55px 0;
  color: #f0f0f0;
}

footer i {
  font-size: 30px;
  padding-right: 15px;
  cursor: pointer;
  color: #fff;
}

.social i {
  color: #fff;
}

.fa-instagram:hover {
  color: #d62d6a;
  transition: 0.35s;
}

.fa-linkedin:hover {
  color: #0961b8;
  transition: 0.35s;
}

.social .fa-github:hover {
  transition: 0.35s;
  color: #9eb19c;
  font-size: 30px;
}

.fa-heart:hover {
  transition: 0.35s;
  color: #5ccfee;
}

@media only screen and (min-width: 768px) {
  header {
    padding-right: 25px;
  }

  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 20px;
  }

  button {
    padding: 8px 25px;
  }

  .card-me {
    margin-top: 25px;
    margin-left: 200px;
    margin-right: 200px;
  }

  .card-me p {
    padding: 30px 0;
  }

  .skill {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .fa-html5,
  .fa-css3-alt,
  .fa-js-square,
  .fa-react,
  .fa-git-alt,
  .fa-github {
    font-size: 80px;
  }

  .social .fa-github {
    font-size: 30px;
  }

  .others {
    display: flex;
    gap: 20px;
  }

  .fa-screwdriver-wrench {
    font-size: 30px;
  }

  .fa-brain,
  .fa-earth-europe {
    font-size: 25px;
  }
}
